@font-face {
  font-family: "WorkSans-Regular";
  src: url("../fonts/WorkSans-Regular.eot");
  src: url("../fonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WorkSans-Regular.woff2") format("woff2"),
    url("../fonts/WorkSans-Regular.woff") format("woff"),
    url("../fonts/WorkSans-Regular.ttf") format("truetype"),
    url("../fonts/WorkSans-Regular.svg#WorkSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("../fonts/WorkSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WorkSans-Bold.woff2") format("woff2"),
    url("../fonts/WorkSans-Bold.woff") format("woff"),
    url("../fonts/WorkSans-Bold.ttf") format("truetype"),
    url("../fonts/WorkSans-Bold.svg#WorkSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-SemiBoldItalic";
  src: url("../fonts/WorkSans-SemiBoldItalic.eot");
  src: url("../fonts/WorkSans-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/WorkSans-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/WorkSans-SemiBoldItalic.woff") format("woff"),
    url("../fonts/WorkSans-SemiBoldItalic.ttf") format("truetype"),
    url("../fonts/WorkSans-SemiBoldItalic.svg#WorkSans-SemiBoldItalic")
      format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "WorkSans-Medium";
  src: url("../fonts/WorkSans-Medium.eot");
  src: url("../fonts/WorkSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WorkSans-Medium.woff2") format("woff2"),
    url("../fonts/WorkSans-Medium.woff") format("woff"),
    url("../fonts/WorkSans-Medium.ttf") format("truetype"),
    url("../fonts/WorkSans-Medium.svg#WorkSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("../fonts/WorkSans-SemiBold.eot");
  src: url("../fonts/WorkSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WorkSans-SemiBold.woff2") format("woff2"),
    url("../fonts/WorkSans-SemiBold.woff") format("woff"),
    url("../fonts/WorkSans-SemiBold.ttf") format("truetype"),
    url("../fonts/WorkSans-SemiBold.svg#WorkSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "WorkSans-Regular";
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none !important;
}
/*first part*/

.bg-shape {
  background-image: url('../img/BgShape.png');
  background-repeat: no-repeat;
  position: relative;
  background-position: right;
  min-height: 110vh;
  width: 100%;
  height: 100%;
  z-index: 120;
  background-size: contain;
}

.vector{
  position: absolute;
  right: 10px;
  top:70px;
}

.navbar1 {
  list-style-type: none;
  float: left;
  margin-right: 5px;
}
.navbar1 li {
  font-family: "WorkSans-Bold";
  display: inline;
  margin-left: 25px;
  font-size: 18px;
}
.navbar1 li a {
  color: rgb(49, 69, 132);
  text-decoration: none;
}
.navicon {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.dropdown {
  display: inline;
  font-family: "WorkSans-Bold";
  color: rgb(49, 69, 132);
}
.btn {
  color: rgb(49, 69, 132);
}
.contact-box {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);   
  width: 160px;
  height: 51px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.contact-box  {
  color: rgb(49, 69, 132);
  font-family: "WorkSans-Bold";
  text-decoration: none;
}
.contact-box:hover {
  color: rgb(255, 57, 70);  
  text-decoration: none;
  transition: 0.5s;
}


.content {
  color: rgb(49, 69, 132);
  font-family: "WorkSans-Bold";
  display: flexbox;
  margin-top: 150px;
  padding-left: 180px;
  width: 550px;
}
.content p {
  font-family: "WorkSans-Regular";
  font-size: 18px;
  color: rgb(110, 117, 122);
  line-height: 1.667;
}
.about-us {
  width: 150px;
  height: 43px;
  border-radius: 24px;
  transition: 0.5s;
  display: inline-block;
  margin-right: 10px;
  font-family: "WorkSans-Bold";
  line-height: 1.9;
}
.about-us:hover {
  background-color: rgb(255, 57, 70);
  box-shadow: 0px 5px 10px 0px rgba(255, 57, 70, 0.15);
  color: white;
  line-height: 1.9;
}

/* Second part*/
.boxes {
  padding-top: 150px;
}
.content1 {
  font-family: "WorkSans-Bold";
  font-size: 45px;
  color: rgb(49, 69, 132);
  ne-height: 1.444;
  padding: 180px 100px 0px 150px;
}
.card {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);
  height: 340px;
  width: 270px;
  margin-left: 17px;
}
.card-img {
  width: 77px;
  height: 75px;
  padding-top: 30px;
  padding-left: 30px;
}
.card-body1 {
  width: 240px;
  height: 280px;
  padding-left: 30px;
  padding-top: 35px;
}
.card-body1 h3 {
  font-family: "WorkSans-Bold";
  font-size: 27.437px;
  color: rgb(49, 69, 132);
  line-height: 1.429;
}
.card-body1 p {
  font-size: 14px;
  color: rgb(49, 69, 132);
  line-height: 1.667;
  height: 82px;
  padding-top: 20px;
}

.bg1 {
  background: url(../img/BgShape1.png);
  background-repeat: no-repeat;
  width: 30.8%;
  background-position: 0px 190%;
  min-height: 110vh;
  background-size: 50%;
  position: absolute;
  left: 0;
  top: 1120px;
}

/* 3rd part*/

.content2 {
  color: rgb(49, 69, 132);
  line-height: 1.444;
  float: left;
  padding: 300px 100px 0px 100px;
  display: flex;
}

.our-comp {
  color: rgb(49, 69, 132);
  float: right;
}

.our-comp a {
  font-family: "WorkSans-Bold";
  color: rgb(49, 69, 132);
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 20px;
}

.our-comp a:hover {
  color: rgb(255, 57, 70);
}

.our-comp h3 {
  font-family: "WorkSans-Bold";
  font-size: 48.425px !important;
  color: rgb(49, 69, 132);
  line-height: 1.239;
  text-align: left;
  padding-bottom: 30px;
}

.our-comp p {
  font-size: 18px;
  color: rgb(49, 69, 132);
  line-height: 1.667;
}

.bgsh {
  background-image: url(../img/bgsh3.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 40%;
  background-position: 100% 0;
  min-height: 120vh;
  background-size: 100%;
  right: -200px;
  top: -50px;
}
.pg-vect {
  padding-left: 80px;
  padding-top: 420px;
  margin: 0;
  display: flex;
  width: 90%;
}
.vect-il {
  padding: 10px;
  width: 45%;
}
.vect-il img {
  width: 100%;
  margin: 0;
}
.content-vect {
  width: 50%;
  margin: 0;
}
.content-vect h5 {
  font-family: "WorkSans-Bold";
  font-size: 48.425px;
  color: rgb(49, 69, 132);
  line-height: 1.239;
  text-align: left; 
}
.content-vect p {
    font-size: 18px;
    color: rgb(49, 69, 132);
    line-height: 1.667;
}
.content-vect span {
    color: gray;
}
/* Forth page */
.bgsh1 {
  background-image: url('../img/BgShape2.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: bottom;
}

.content3 {
  padding-left: 150px;
  padding-top: 180px;
  justify-content: space-between;
}
.content3 h3 {
  font-family: "WorkSans-Bold";
  font-size: 48.425px !important;
  color: rgb(49, 69, 132);
  line-height: 1.239;
  width: 500px;
}
.two-icons {
  margin-top: 85px;
  margin-left: auto;
  margin-right: 100px;
  }
.two-icons a {
    color: grey;
}
.two-icons a:hover {
  color: rgb(49, 69, 132);
}
.img-samples {
  margin-top: 50px;
}
.img-samples img {
   margin: 8px;
   width: 300px;
   height: 200px;
}
.content3 p {
  font-family: "WorkSans-Bold";
  font-size: 18px;
  margin: 30px auto;
  text-align: center;
}
.content3 p a {
    color: rgb(49, 69, 132);
}
.content3 p a:hover {
   color: rgb(255, 57, 70);
   text-decoration: none;
}

.content4 {
  padding-left: 140px;
  padding-top: 100px;
}

.form-control {
  background-color: rgb(244, 250, 254);
}
  
  
small a {
  font-family: "WorkSans-Bold";
  font-size: 18px;
  color: rgb(49, 69, 132);
}
small a:hover {
  color: rgb(255, 57, 70);
  text-decoration: none;
}
h5 {
  font-family: "WorkSans-Bold";
  font-size: 48.425px !important;
  margin-top: 10px;
  color: rgb(49, 69, 132);
}
.arrows {
  margin-left: auto !important;
  margin-right: 200px;
}
.arrows a {
  color: gray;
}
.arrows a:hover {
  color: rgb(49, 69, 132);
}
.c1 {
  box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15) !important;
  transition: 0.5s;
  width: 301px !important;
  height: 281px !important;
  color: rgb(49, 69, 132);
}
.c1:hover {
  background-color: rgb(255, 57, 70);
  color: white;
}
.c1 h3 {
  font-size: 18px;   
  font-family: "WorkSans-Bold";
}
.c1 small {
  font-size: 14px;
}
.c1 p {
  font-size: 18px;
}
.c1 span {
  margin-left: 240px;
}
   /* Fifth Page */
.content5 {
  color: rgb(49, 69, 132);
  padding-left: 120px;
  padding-top: 200px;
  width: 90%;
}
.send {
  margin: 30px auto;
  text-align: center;
}

footer {
  background-color: rgb(49, 69, 132);
  font-family: "WorkSans-Bold";
  height: 400px;
  text-align: center;
  padding-top: 50px;
  min-width: 100%;
  max-width: 100%;
}

footer small {
  color: white;
  font-size: 18px;
  line-height: 1.153;
}
footer h3 {
  color: rgb(255, 57, 70);
  font-size: 48.425px;
  line-height: 1.239;
}
footer li {
  display: inline;
  margin-right: 10px;
  text-align: center;
}
footer a {
  color: white !important;
}
footer span {
  font-family: "WorkSans-Regular";
  font-size: 14px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
@media only screen and (max-width: 1200px) {
  .content {
    padding: 50px 0px 0px 160px;
  }
  .logo {
    padding-left: 30px;
  }
  .bg-shape {
    min-height: 100vh;
    z-index: -2;
  }
  .vector {
    display: none;
  }

  .content1 {
    padding: 180px 0px 0px 160px;
    display: flexbox;
  }
  .bg1 {
    width: 30.8%;
    background-position: 0px -2%;
    min-height: 180vh;
    background-size: 50%;
    position: absolute;
    left: 0;
    top: 870px;
  }
  .pg-vect {
    padding-top: 180px;
  }
  .two-icons {
    margin-right: 100px;
  }
  }

@media only screen and (max-width: 991px) { 
  .content {
    padding: 0px 0px 0px 120px;
    width: 90%;
  }
  .content1 {
    padding: 100px 0px 0px 120px;
    width: 90%;
  }
  .content3 {
    padding-left: 120px;
  }
  .content4 {
    padding-left: 120px;
  }
  .content5 {
    padding-left: 110px;
    width: 80%;
  }
  .vect-il  {
    display: none;
  }
  .content-vect {
    width: 90%;
    padding-left: 60px;
  }
  .navbar-collapse {
    position: absolute;
    top: 100px;
    box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);   
    padding: 0 10px 10px 0;
  }
  .two-icons {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    padding-left: 40px;
  }
  .content {
    padding-left: 140px;
    padding-top: 50px;
    max-width: 100%;
  }
  .content2 {
    padding-left: 40px;
    padding-top: 50px;
  }
  .bg-shape {
    background: none;
  }
  .bg-shape img {
    display: none;
  }
  .boxes {
    display: flexbox;
  }
  .vect-il {
    display: none;
  }
  .navbar-collapse {
    position: absolute;
    top: 100px;
    box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);   
    padding: 0 10px 10px 0;
  }
  .navbar1 li {
    display: flex;
    flex-direction: column;
  }
  .two-icons {
    margin-left: 40px;
  }
  .arrows {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .content {
    padding: 0px 0px 0px 140px;
    width: 90%;
  }
  .contact {
    padding: 0%;
  }
  .logo {
    padding-left: 20px;
  }
  .two-icons  {
    margin-left: 40px;
  }
  .content2 {
    padding-left: 140px;
    padding-top: 20px;
  }
  .content1 button {
    padding: 0;
    text-align: left;
  }
  .content1 {
    padding-left: 140px;
    padding-top: 20px;
  }
  .content1 h1 {
    font-size: 35px;
  }
  .boxes {
    padding-left: 120px;
    padding-top: 100px;
    display: inline-flex;
  }
  .box1 {
    display: flexbox;
  }
  .contents {
    width: 160px;
    height: 220px;
    padding-left: 20px;
    padding-top: 5px;
  }
  .contents p {
    font-size: 13.828px;
    color: rgb(49, 69, 132);
    line-height: 1.667;
    padding-top: 0px;
  }
  .navbar-collapse {
    position: absolute;
    top: 100px;
    box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);   
    padding: 0 10px 10px 0;
  }
  .navbar1 li {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 480px) {
  .contact {
    padding: 0;
  }
  .logo {
    padding-left: 20px;
  }
  .two-icons {
    margin-left: 40px;
  }
  .content {
    padding-left: 40px;
    padding-top: 20px;
    box-sizing: content-box;
    display: inline-flexbox;
  }
  .content h1 {
    font-size: 53px;
  }
  .content1 {
    padding-left: 40px;
    padding-top: 20px;
    box-sizing: content-box;
  }
  .content2 {
    padding-left: 40px;
    padding-top: 20px;
    box-sizing: content-box;
  }
  .content3 {
    padding-left: 40px;
  }
  .content4 {
    padding-left: 40px;
  }
  .content5 {
    padding-left: 40px;
  }
  .pg-vect {
    padding-left: 0;
  }
  .boxes {
    padding-left: 40px;
  }
  .navbar-collapse {
    position: absolute;
    top: 100px;
    box-shadow: 0px 5px 10px 0px rgba(25, 45, 51, 0.15);   
    padding: 0 10px 10px 0;
  }
  .navbar1 li {
    display: flex;
    flex-direction: column;
  }
}
